<div id= "header-parameters"class = "row">
		<div class >
		<div class="col-md-8 col-md-offset-2">
			
			<input id="slidertwo" type="text" class="span2" data-slider-min="0" data-slider-max="100" data-slider-step="1" data-slider-value="[<%= params.bottomsimil%>,<%= params.topsimil%>]"/>

			<span style="margin-left: 20px"> Bottom Simil: </span>
			<input id="sliderValLabel1"  type="number" name="quantity" min="0" max="100" value="<%= params.bottomsimil%>">
			</input>
			<span style="margin-left: 20px"> Top Simil: </span>
			<input id="sliderValLabel2"  type="number" name="quantity" min="0" max="100" value="<%= params.topsimil%>">
			</input>

			<!--span class="btn btn-default btn-lg" role="button" id="generarButton"> Generar </span-->
		</div>
	</div>
</div>

<div id="myModal" class="modal fade">
  <div class="modal-dialog">
  	
    <div class="modal-content">
    	<div class="modal-header">
  		<h4 style="text-align: center";> <strong>Generando arbol de jerarquias..</strong></h4>
  	</div>
      <!-- dialog body -->
      <div class="modal-body">
        <%= image_tag("loader.gif", :id => "loading-indicator") %>
      </div>
    </div>
  </div>
</div>
