<div class="panel panel-primary">
	<div id="piechart_3d">
		<div>
			<h3><span style= "margin-left: 20px">Analized: <span style="font-weight:bold"><%= @globalData["totalFilesAnalized"]%> </span>Files.</span></h3>
		</div>
		<%
		puts 'CHARTINFOOOO'
		puts @globalData["totalAntiPatternFound"]
 @dataColumnChart = Hash.new
      @dataColumnChart["Anti Pattern Detected"] = @globalData["totalAntiPatternFound"]
      @dataColumnChart["Proposed Solutions"] = @globalData["totalSolutionsFound"]
      @dataPieChart = Hash.new
      @dataPieChart = @globalData["totalAntiPatternMap"]
      
      
      
      column_chart(@dataColumnChart)
      pie_chart(@dataPieChart)
%>


				<%= column_chart(@dataColumnChart)%>
				<%= pie_chart(@dataPieChart)%>
		</div>
	</div>
<div>
			<h3><span style= "margin-left: 20px">Error <span style="font-weight:bold"><%= @globalData["error"]%></h3>
				<h3><span style= "margin-left: 20px">Inter <span style="font-weight:bold"><%= @globalData["inter"]%></h3>
					<h3><span style= "margin-left: 20px">Intra <span style="font-weight:bold"><%= @globalData["intra"]%></h3>
		</div>