<meta name="viewport" content="width=device-width, initial-scale=1.0">
<!--title><%= content_for?(:title) ? yield(:title) : "Tesis Ui" %></title-->
<title><%= full_title(@title) %></title>
<meta name="description" content="<%= content_for?(:description) ? yield(:description) : "Tesis Ui" %>">
<%= stylesheet_link_tag "application", media: "all", "data-turbolinks-track" => true %>
<%= javascript_include_tag "application", "data-turbolinks-track" => true %>
<%= javascript_include_tag "nav_views" %>
<%= javascript_include_tag "left_panel" %>
<%= csrf_meta_tags %>