<nav class="navbar navbar-default" role="navigation">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand"><%= link_to 'Home', root_path, class: 'navbar-brand' %></a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li class="dropdown">
          <a class="dropdown-toggle" data-toggle="dropdown">Graficos <b class="caret"></b></a>
          <ul class="dropdown-menu">
            <li><a></a><%= link_to 'Inverted Radial Layout', inverted_radial_layout_path %> </li>
            <li><a></a><%= link_to 'Bundle Layout', bundle_layout_path %></li>
            <li><a></a><%= link_to 'Tree Layout', tree_layout_path %></li>
            <li><a></a><%= link_to 'Rotate Cluster Layout', rotate_cluster_layout_path %></li>
            <li><a></a><%= link_to 'Collapse Tree Layout', collapse_tree_layout_path %></li>
          </ul>
        </li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
