<!DOCTYPE html>
<html>
  <head>
    <%= render 'layouts/head'%>
  </head>
  <body>
    <header>
      <%= render 'layouts/navigation' %>
      <%= render "parameters_layout/partial_param" %>
    </header>    
    <main role="main">
       <%= render 'layouts/messages' %>
       <%= yield %>
    </main>
  </body>
</html>
