<!DOCTYPE html>
<html>
	<head>
		<%= render 'layouts/head'%>
	</head>
	<body>
		<header>
			<%= render 'layouts/navigation' %>
			<%= render "parameters_layout/partial_param" %>

		</header>

		<main role="main">

			<div class= "page-main">
				<div class="row">
					<div class="col-md-4" style="padding-left: 0px; padding-right: 5px;">
						<div class = "left-panel">
							<%= render 'layouts/left_panel' %>
						</div>
					</div>
					<div id="main-content" class="col-md-8"  style="padding-left: 5px; padding-right: 0px;">
						<div class="panel panel-primary">
							<div class="panel-heading panel-heading-tabs">

								<div class="row">
									<div class="col-md-3">
										<span class="pull-left"> <!-- Tabs -->
											<ul class="nav panel-tabs">
												<li class="active">
													<a href="#tab4" data-toggle="tab"> <i class="fa fa-file-text-o"></i> Graphic</a>
												</li>
												<li>
													<a href="#tab5" data-toggle="tab"><i class="fa fa-bar-chart-o"></i> Stats</a>
												</li>

											</ul> </span>
									</div>
									<div class="col-md-7">
										<div class="row">
											
											<div class="radio col-md-3">
												<label>
													<input type="radio" name="cluster" id="alg_hi" value="hierarchy" checked>
													Hierarchical </label>
											</div>
											<div class="radio col-md-3">
												<label>
													<input type="radio" name="cluster" id="alg_km" value="kmeans">
													Kmeans </label>
											</div>
											<div class="radio col-md-3">
												<label>
													<input type="radio" name="cluster" id="alg_em" value="em">
													EM </label>
											</div>
										</div>
									</div>
								</div>

							</div>
							<div class="tab-content">

								<div class="tab-pane active" id="tab4">
									<div id="content">
										<%= yield%>
									</div>
								</div>
								<div class="tab-pane" id="tab5">
									<div id="chart-detector">
										<div id="chart-pattern-content"></div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<%= render 'layouts/messages' %>

		</main>
		<footer>
			<div class="fluid-container">
				<div class="row" style="height: 60px; padding: 18px;">
					<div class="col-md-9">
						Universidad Nacional del Centro de la Provincia de Buenos Aires - 2015 - Tesis de Grado.
					</div>
					<div class="col-md-3 pull-right">
						Fernandez Emanuel, Vizzolini Martin.
					</div>
				</div>
			</div>
		</footer>
	</body>
</html>
<%= javascript_tag "loadFilesPanel();"%>
<%= javascript_tag "loadNav();"%>
